<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @session.place %>
</p>

<p>
  <strong>Wallpaper:</strong>
  <%= @session.wallpaper %>
</p>

<p>
  <strong>Custom style:</strong>
  <%= @session.custom_style %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @session.event_date %>
</p>

<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
